# contains all the files to be ignored by the git diff command

Cargo.lock -diff
.env -diff
.gitignore -diff
.DS_Store -diff
Thumbs.db -diff
*.log -diff
*.bak -diff
*.swp -diff
*.swo -diff
.idea/ -diff
.vscode/ -diff
.eclipse/ -diff
node_modules/ -diff
package-lock.json -diff
yarn.lock -diff
yarn-error.log -diff
npm-debug.log -diff
tsconfig.json -diff
tsconfig.build.json -diff
webpack.config.js -diff
Gemfile.lock -diff
*.gem -diff
.bundle/ -diff
*.rbc -diff
Pipfile.lock -diff
requirements.txt -diff
.tox/ -diff
.venv/ -diff
__pycache__/ -diff
*.pyc -diff
*.pyo -diff
composer.lock -diff
composer.json -diff
.php_cs.dist -diff
vendor/ -diff
Cargo.lock -diff
target/ -diff
.cargo/ -diff
*.class -diff
*.jar -diff
*.war -diff
*.ear -diff
*.apk -diff
*.dex -diff
